streamlit
json
datetime
google.generativeai
langchain_community.vectorstores
langchain.chains.question_answering
langchain
langchain_community.embeddings
langchain_google_genai
langchain.prompts
langchain_community.document_loaders
langchain.text_splitter
transformers
PyPDF2
docx2txt
